<ion-app>
  <ion-menu menuId="menu" contentId="content" side="start">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    
    <ion-content *ngIf="isLoggedIn()">
      <ion-list>
        <ion-item>
          <a *ngIf="getUserRole()==1" (click)="navigatePage('profile')" class="link">Perfil</a>
          <a *ngIf="getUserRole()==2" (click)="navigatePage('profile-patient')" class="link">Perfil</a>
        </ion-item>
        <ion-item *ngIf="getUserRole()==1">
          <a (click)="navigatePage('clinic')" class="link">Clínica</a>
        </ion-item>

        <ion-item>
          <a (click)="logOut()" class="link">Cerrar Sesión</a>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  
  <app-header *ngIf="isLoggedIn()"></app-header>
  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-app>